.btn {
  font-family: $font-headings;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.btn--primary {
  color: $white;
  background-color: $red;
}

.btn--secondary {
  color: $blue;
  border: 1px solid $blue;
  background-color: $fade-out($blue, 0.9);
}

.btn-large {
}
